/gen
/assets
/bin
/proguard-project.txt
/project.properties
/ic_launcher-web.png
/.project
/.classpath
/.settings
/.idea
/build
/Laole.iml
/local.properties
/.gradle
/gradlew.bat
/yn_android.iml
/gradlew
/gradle
/app.iml

/*.log
/projectFilesBackup
